@model IEnumerable<DylanTaylorArt.Models.Collection>

@{
    ViewBag.Title = "Collection List";
}
<section class="jumbotron">
    <h1>Dylan Taylor Art</h1>
    <h2>List of all Bob Dylan Collections</h2>
    @Html.ActionLink("Collections", "Index",null, new { @class = "btn btn-info" })
    @Html.ActionLink("Graphics", "Index", "Graphics", null, new { @class = "btn btn-info" })
    @Html.ActionLink("Prices", "Prices", "Graphics", null, new { @class = "btn btn-info" })
</section>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Artist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CollectionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Artist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CollectionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImagePath)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CollectionID }, new { @class = "btn btn-success" })
            @Html.ActionLink("Details", "Details", new { id = item.CollectionID }, new { @class = "btn btn-default" })
            @Html.ActionLink("Delete", "Delete", new { id = item.CollectionID }, new { @class = "btn btn-warning" })
        </td>
    </tr>
}

</table>
