@model DylanTaylorArt.Models.Graphic

@{
    ViewBag.Title = "Graphic Details";
}
<section class="jumbotron">
    <h1>Details Dylan Taylor Art</h1>
    <h2>@Model.Title from @Model.Collection.CollectionName @Model.Collection.Year Collection</h2>
</section>

<h3>Graphic Details</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CollectionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollectionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CopyNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CopyNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.LargeImagePath)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LargeImagePath)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.SmallImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmallImagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Format)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Format)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paper)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paper)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aspect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aspect)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageWidth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageWidth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageHeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageHeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaperWidth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaperWidth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaperHeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaperHeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FramedWith)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FramedWith)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Portfolio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Portfolio)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.DisplayOnHomePage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DisplayOnHomePage)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GraphicID }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("<< Back to List", "Index", null, new { @class = "btn btn-default" })
</p>
