@model IEnumerable<DylanTaylorArt.Models.Graphic>

@{
    ViewBag.Title = "Graphics List";
}

<section class="jumbotron">
    <h1>Dylan Taylor Art</h1>
    <h2>List of all Bob Dylan Graphics</h2>
    @Html.ActionLink("Collections", "Index", "Collections", null, new { @class = "btn btn-info" })
    @Html.ActionLink("Graphics", "Index", null, new { @class = "btn btn-info" })
    @Html.ActionLink("Prices", "Prices", null, new { @class = "btn btn-info" })
</section>

<p>
    @Html.ActionLink("Add New Graphic", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>
            Collection
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            Copy No
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FramedWith)
        </th>
        <th class="text-center">
            Format
        </th>
        <th class="text-center">
            Portfolio
        </th>
        <th>
            Price
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Collection.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.CopyNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FramedWith)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Format)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Portfolio)
        </td>
        <td>
            <strong>
                @Html.DisplayFor(modelItem => item.Price)
            </strong>
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.GraphicID }, new { @class = "btn btn-success" })
            @Html.ActionLink("Details", "Details", new { id = item.GraphicID }, new { @class = "btn btn-default" })
            @Html.ActionLink("Delete", "Delete", new { id = item.GraphicID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
