@model IEnumerable<DylanTaylorArt.Models.Graphic>

@{
    ViewBag.Title = "Graphics List";
}

<section class="jumbotron">
    <h1>Dylan Taylor Art</h1>
    <h2>List of all Bob Dylan Graphics</h2>
</section>

<p>
    @Html.ActionLink("Add New Graphic", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            Collection
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th class="text-center">
            Carousel
        </th>
        <th class="text-center">
            Home Page
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Collection.CollectionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.DisplayInCarousel)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.DisplayOnHomePage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GraphicID }, new { @class="btn btn-success"}) 
            @Html.ActionLink("Details", "Details", new { id=item.GraphicID }, new { @class = "btn btn-default" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.GraphicID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
