@model IEnumerable<DylanTaylorArt.Models.Collection>

@{
    /**/

    ViewBag.Title = "Graphics List";
}

<section class="jumbotron">
    <h1>Dylan Taylor Art</h1>
    <h2>List of all Bob Dylan Graphics</h2>
    @Html.ActionLink("Collections", "Index", "Collections", null, new { @class = "btn btn-info" })
    @Html.ActionLink("Graphics", "Index", null, new { @class = "btn btn-info" })
    @Html.ActionLink("Prices", "Prices", null, new { @class = "btn btn-info" })
</section>

<p>
    @Html.ActionLink("Add New Graphic", "Create", null, new { @class = "btn btn-success" })
</p>
@foreach (var item in Model)
{
    <h2>@item.Year  @item.CollectionName</h2>
    <br/>
    <table class="table table-hover table-condensed">
        <tr>
            <th class="bg-primary">
                Graphic Title
            </th>
            <th class="bg-primary">
                Copy No
            </th>
            <th class="bg-primary">
                Framed
            </th>
            <th class="text-center bg-primary">
                Format
            </th>
            <th class="text-center bg-primary">
                Portfolio
            </th>
            <th class="bg-primary">
                Price
            </th>
            <th class="bg-primary">
                Status
            </th>

            <th class="bg-primary">
                Action
            </th>
        </tr>

        @foreach (var graphic in item.Graphics)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => graphic.Title)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => graphic.CopyNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => graphic.FramedWith)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => graphic.Format)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => graphic.Portfolio)
        </td>
        <td>
            <strong>
                @Html.DisplayFor(modelItem => graphic.Price)
            </strong>
        </td>
        <td>
            <strong>
                @Html.DisplayFor(modelItem => graphic.Status)
            </strong>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = graphic.GraphicID }, new { @class = "btn btn-success btn-sm" })
            @Html.ActionLink("Details", "Details", new { id = graphic.GraphicID }, new { @class = "btn btn-default btn-sm" })
            @Html.ActionLink("Delete", "Delete", new { id = graphic.GraphicID }, new { @class = "btn btn-danger btn-sm" })
        </td>
    </tr>
        }

    </table>

}

<br/>
<p>
    @Html.ActionLink("Add New Graphic", "Create", null, new { @class = "btn btn-success" })
</p>

