@model IEnumerable<DylanTaylorArt.Models.Graphic>

@{
    ViewBag.Title = "Graphics List";
}

<section class="jumbotron">
    <h1>Dylan Taylor Art</h1>
    <h2>Price Comparison of Graphics</h2>
    @Html.ActionLink("Collections", "Index", "Collections", null, new { @class = "btn btn-info" })
    @Html.ActionLink("Graphics", "Index", null, new { @class = "btn btn-info" })
    @Html.ActionLink("Prices", "Prices", null, new { @class = "btn btn-info" })

</section>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th class="text-center">
            Format
        </th>
        <th class="text-center">
            Portfolio
        </th>
        <th>
            TDA Price
        </th>
        <th>
            BDA Price
        </th>
        <th>
            Castle Price
        </th>
        <th>
            Canvas Price
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Collection.Year)
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Format)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Portfolio)
        </td>
        <td>
            <strong>
                @Html.DisplayFor(modelItem => item.Price);
            </strong>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BDA_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CastlePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CanvasPrice)
        </td>

        <td>
            @Html.ActionLink("Edit Prices", "EditPrices", new { id = item.GraphicID }, new { @class = "btn btn-success" })
        </td>
    </tr>
    }

</table>

