<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <title>Dylan Taylor Art - @ViewBag.Title</title>

    <meta property="og:title" content="Bob Dylan Art | Other Artists Original Paintings and Signed Prints" />
    <meta property="og:description" content="Original paintings and signed prints by Bob Dylan and other artists for sale. Our collection includes work from Bob Dylan's Drawn Blank series.  Prints from Henry Moore, John Hoyland, Henry Mooore, Joan Miro and Pablo Picasso.  Original art from James Green and Oliver Kellert" />
    <meta property="og:image" content="~/Images/DB2008/LakesideCabin.png" />
    <meta property="og:image:width" content="" />
    <meta property="og:image:height" content="" />
    <meta property="og:site_name" content="Dylan Taylor Art" />
    <meta name="twitter:card" content="summary_large_image">

    <meta charset="utf-8" />
    <meta name="description" content="Bob Dylan Art | Other Artists Original Paintings and Signed Prints" />
    <meta property="og:description" content="Original paintings and signed prints by Bob Dylan and other artists for sale. Our collection includes work from Bob Dylan's Drawn Blank series.  Prints from Henry Moore, John Hoyland, Henry Mooore, Joan Miro and Pablo Picasso.  Original art from James Green and Oliver Kellert">
    <meta name="keywords" content="Bob Dylan, James Green, Oliver Kellert, John Hoyland, Contemporary Art, Henry Moore, Joan Miro, Pablo Picasso">
    <meta name="author" content="Dr Derek Peacock and Martin Taylor">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-9928930-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-9928930-3');
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Home/">
                    <img src="~/Images/Logo.png" style="height:60px;margin-top:10px;" />
                    @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </a>
            </div>
            <div class="navbar-collapse collapse lead" style="padding-top:10px">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Hockney", "Hockney", "Home")</li>
                    <li>@Html.ActionLink("Picasso", "Picasso", "Home")</li>
                    <li class="dropdown" style="width:140px;">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            Bob Dylan<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Drawn Blank Series 2008", "Collections", "Home", new { CollectionID = 1 }, null)</li>
                            <li>@Html.ActionLink("Drawn Blank Series 2009", "Collections", "Home", new { CollectionID = 2 }, null)</li>
                            <li>@Html.ActionLink("Drawn Blank Series 2010", "Collections", "Home", new { CollectionID = 3 }, null)</li>
                            <li>@Html.ActionLink("Drawn Blank Series 2011", "Collections", "Home", new { CollectionID = 4 }, null)</li>
                            <li>@Html.ActionLink("Drawn Blank Series 2012", "Collections", "Home", new { CollectionID = 5 }, null)</li>
                            <li>@Html.ActionLink("Drawn Blank Series 2013", "Collections", "Home", new { CollectionID = 6 }, null)</li>
                            <li>@Html.ActionLink("Drawn Blank Series 2014", "Collections", "Home", new { CollectionID = 7 }, null)</li>
                            <li>@Html.ActionLink("Bob Dylan Gallery", "Gallery", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown" style="width:200px;">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            Other Artists<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Delaunay", "SoniaDelaunay", "Home")</li>
                            <li>@Html.ActionLink("James Green", "Green", "Home")</li>
                            <li>@Html.ActionLink("Rose Hilton", "Hilton", "Home")</li>
                            <li>@Html.ActionLink("Matisse", "Matisse", "Home")</li>
                            <li>@Html.ActionLink("Miro", "JoanMiro", "Home")</li>
                            <li>@Html.ActionLink("Moore", "HenryMoore", "Home")</li>
                        </ul>
                    </li>

                    @*<li>@Html.ActionLink("Chagall", "Chagall", "Home")</li>*@
                    @*<li class="dropdown crazy-horse menu-item-width" style="width:150px">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Crazy Horse<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Oliver Kellert", "Kellert", "Home")</li>
                        </ul>
                    </li>*@
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br/><br/>
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>
                <a href="~/Home/Contact">Martin Taylor</a>
                &copy; @DateTime.Now.Year - Dylan Taylor Art |
                <a href="http://www.bobdylanart.com/" target="_blank">Bob Dylan Art</a> |
                <a href="http://jamesgreenartist.co.uk/" target="_blank">jamesgreenartist.co.uk</a> |
                @Html.ActionLink("About", "About", "Home") |
                @Html.ActionLink("Contact", "Contact", "Home")
            </p>
            <p>
                <a href="https://www.thebobvillains.com/" target="_blank">
                    The Bob Villains <img src="~/Images/BobVillains.jpg" alt="Bob Villains Image" width="60" />
                </a>
            </p>
            <p>
                Website Last Updated by Derek Peacock 25/08/2021
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
