<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <title>Bob Dylan Art - @ViewBag.Title</title>

    <meta property="og:title" content="Bob Dylan art | Original Bob Dylan paintings and signed prints" />
    <meta property="og:description" content="Original Bob Dylan paintings and signed prints for sale. Our collection includes work from his Drawn Blank series, created while on tour in the 80s and 90s." />
    <meta property="og:image" content="~/Images/DB2008/LakesideCabin.png" />
    <meta property="og:image:width" content="" />
    <meta property="og:image:height" content="" />
    <meta property="og:site_name" content="Dylan Taylor Art" />
    <meta name="twitter:card" content="summary_large_image">

    <meta charset="utf-8" />
    <meta name="description" content="Original Bob Dylan paintings and signed prints for sale. Limited edition from the Drawn Blank Series created while on tour">
    <meta name="keywords" content="Bob Dylan">
    <meta name="author" content="Dr Derek Peacock and Martin Taylor">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-9928930-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-9928930-3');
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Home/"><img src="~/Images/Logo.png" style="height:60px;margin-top:10px;" /></a>
                @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse lead" style="padding-top:10px">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Collections", "Collections", "Home")</li>
                    <li>@Html.ActionLink("Gallery", "Gallery", "Home")</li>
                    <li>@Html.ActionLink("On Show", "Shows", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" >
                            Other Artists<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Heny Moore", "HenryMoore", "Home")</li>
                        </ul>
                    </li>

                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br/><br/>
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>
                <a href="~/Home/Contact">Martin Taylor</a> 
                &copy; @DateTime.Now.Year - Dylan Taylor Art |
                <a href="http://www.bobdylanart.com/">Bob Dylan Art</a>
            </p>
            <p>
                Website Last Updated by Derek Peacock 15/10/2018
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
