@model DylanTaylorArt.Models.Collection
@{ 
    int colNo = 0;
}
<div class="row">
    @foreach (var graphic in Model.Graphics)
    {

        if (colNo > 0 && colNo % 3 == 0)
        {
        @:</div><div class="row">
        }

        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">@graphic.Title</h4>
                    @if (graphic.CopyNo < 0)
                    {
                        <div class="text-center">

                            <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                            <strong>Original</strong>
                            <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>

                        </div>
                    }
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/@Model.ImagePath/@graphic.SmallImagePath">
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        @Model.CollectionName
                    </p>
                    <p class="text-right">
                        @graphic.Format Format
                    </p>
                    @if (graphic.Portfolio != DylanTaylorArt.Models.Portfolios.None)
                    {
                        <p class="text-right">
                            @graphic.Portfolio
                        </p>
                    }
                    <p class="text-right">
                        @Html.Partial("Price", graphic)
                        @*<strong>£@graphic.Price.ToString("N0")</strong>*@
                    </p>
                    @{
                        string detailsID = "details" + graphic.GraphicID;
                    }
                    <p>
                        <button class="btn btn-success pull-right" type="button"
                                data-toggle="collapse" data-target="#@detailsID">
                            More Details
                            @if (graphic.CopyNo > 0)
                            {
                                <span class="badge">@graphic.CopyNo</span>
                            }
                        </button>
                    </p>

                    <div class="collapse" id="@detailsID">
                        <br /><br />
                        <div class="well">
                            <table class="table table-bordered">
                                @if (graphic.Description != null)
                                {
                                    <tr>
                                        <td>
                                            Description
                                        </td>
                                        <td>
                                            @graphic.Description
                                        </td>
                                    </tr>
                                }

                                <tr>
                                    <td>
                                        Image Size
                                    </td>
                                    <td>
                                        @graphic.ImageHeight x @graphic.ImageWidth in
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Painted
                                    </td>
                                    <td>
                                        @graphic.Paper
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Paper Size
                                    </td>
                                    <td>
                                        @graphic.PaperHeight x @graphic.PaperWidth in
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Framed with
                                    </td>
                                    <td>
                                        @graphic.FramedWith
                                    </td>
                                </tr>
                                @if (graphic.CopyNo > 0)
                                {
                                    <tr>
                                        <td>
                                            Copy No
                                        </td>
                                        <td>
                                            @graphic.CopyNo/295
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>

                </div>
            </article>
        </div>

        colNo++;
    }
</div>

