@model DylanTaylorArt.Models.Collection

@{
    ViewBag.Title = "Collections";
    int colNo = 0;
    int graphicNo = 0;
}

<section class="jumbotron">

    <h1>Dylan Taylor Art</h1>
    <h2>@Model.CollectionName Collection</h2>
    
    @using (Html.BeginForm())
    {
        @Html.DropDownList("CollectionID", String.Empty)
        <input type="submit" value="Change Collection"/>
    }

</section>

<section>

    <div class="col-lg-4">
    @foreach (var graphic in Model.Graphics)
    {

        if (colNo > 0 && colNo % 4 == 0)
        {
            @:</div><div class="col-lg-4">
        }

        <article class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="text-center">@graphic.Title</h3>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="@Model.ImagePath/@graphic.SmallImagePath">
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        @Model.CollectionName
                    </p>
                    <p class="text-right">
                        @graphic.Format
                    </p>
                    <p class="text-right">
                        <strong>£@graphic.Price</strong>
                        
                    </p>
                    <p>
                        <button class="btn btn-success pull-right" type="button"
                                data-toggle="collapse" data-target="#print1Details">
                            Limited Edition <span class="badge">1</span>
                        </button>
                    </p>

                    @*<div class="collapse" id="print1Details">
                        <br /><br />
                        <div class="well">
                            <p>
                                A signed limited edition giclee on paper of 295 by cultural legend, Bob Dylan, entitled Sidewalk Cafe.
                            </p>
                            <table class="table table-bordered">
                                <tr>
                                    <td>
                                        Image Size
                                    </td>
                                    <td>
                                        15.75 x 21.5 in
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Frame Size
                                    </td>
                                    <td>
                                        28 x 35 in
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Framed with
                                    </td>
                                    <td>
                                        Glass
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Copy No
                                    </td>
                                    <td>
                                        173/295
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>*@
                </div>
            </article>

        colNo++;
    }
    </div>

</section>
