
@{
    ViewBag.Title = "Henry Moore";
}

<section class="jumbotron">

    <h1>Dylan Taylor Art</h1>
    <h2>Henry Moore Prints for sale</h2>

</section>
<main>
    <section class="row">
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Black Seated Figure on an Orange Background</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="https://via.placeholder.com/350" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Signed and numbered in pencil
                    </p>
                    <p class="text-right">
                        Cramer 80
                    </p>
                    <p class="text-right">
                        1966 142/180
                    </p>
                    <p class="text-right">
                        <strong>£2,000</strong>
                    </p>


                    @*<div class="collapse" id="@detailsID">
                        <br /><br />
                        <div class="well">
                            <table class="table table-bordered">
                                <tr>
                                    <td>
                                        Image Size
                                    </td>
                                    <td>
                                        @graphic.ImageHeight x @graphic.ImageWidth in
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Paper Size
                                    </td>
                                    <td>
                                        @graphic.PaperHeight x @graphic.PaperWidth in
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Framed with
                                    </td>
                                    <td>
                                        @graphic.FramedWith
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Copy No
                                    </td>
                                    <td>
                                        @graphic.CopyNo/295
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>*@

                </div>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Violet Torso on Orange Stripes</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/HenryMoore/VioletTorso.jpg" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Signed and numbered in pencil
                    </p>
                    <p class="text-right">
                        Cramer 86
                    </p>
                    <p class="text-right">
                        1967 38/180  framed
                    </p>
                    <p class="text-right">
                        <strong>£1,850</strong>
                    </p>
                </div>
            </article>
        </div>
    </section>
</main>

